

nav {
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    /* border: 2px solid black; */
    display: flex;
    top: 0;
    justify-content: space-evenly;
    z-index: 9999;
  }

  label {
    display: none;
  }
  
  
  nav li {
    display: inline;
    font-family: orign;
    font-size: 18px;
    scale: .5;
    transition: 2s;
    border: 1px dotted black;
    transition: .5s;
  }
  
  nav li:hover{
    border: 0px;


  }
  
  #nav-button {
    display: none;
  }
  
  nav a {
    text-decoration: none;
    color: grey;
    line-height: 60px;
    padding: 5px 30px;
    transition: 1s;
  }
  
  nav a:hover {
    text-decoration: none;
    color: white;
    font-size: 25px;
    line-height: 50px;
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  
  nav .logo{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding: 5px;
    line-height: 40px;
    border: 2px solid white ;
    font-family: initial;
    border-radius: 50px;
    background-color: black;
  }
  
  nav .active {
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
  }  
  nav input{
    border: 0;
    padding: 5px;
    border-radius: 50px;
    background-color: white;
    font-family: orign;
    color: grey;
  }
  nav input:hover{
   background-color: white;
   color: black;
   scale: 1.2;
  }

  

@media only screen and (max-width: 896px) {
  nav {
    align-items: center;
      width: 100%;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.729);
      display: flex;
      top: 0;
      justify-content: space-evenly;
      z-index: 9999;
  }

  nav ul {
    position: absolute;
    top: 60px;
    width: 80%;
    background: black;
    max-height: 0;
    transition: max-height 0.01s ease-in;
    overflow: hidden;
    border-radius: 50px;
    transition: all 1s ease-in-out;
  }

  nav li {
    display: block;
    width: 100%;
    padding: 5px;
  }

  nav a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    border: 2px solid white;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    padding: 0 5px;
    transition: 1s;
  }

  nav a:hover {
    text-decoration: none;
    color: black;
    font-size: 40px;
    padding: 20px;
    line-height: 50px;
    background-color: yellow;
  }

  nav .active {
    color: black;
    background-color: white;
    padding: 0px;
    font-size: 40px;
    text-align: center;
    border-radius: 50px;
  }

  label {
    display: block;
    padding: 0px 30px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
  }

  nav a {
    display: block;

  }

  #nav-button:checked~label {
    transition: all 5s ease-in-out;
    background-color: black;
    border-radius: 50px;

  }

  #nav-button:checked~ul {
    max-height: 500px;
    transition: all 2s ease-in-out;

  }
}